<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context">

    <!-- Annotation-based beans -->
    <context:component-scan base-package="com.nniirt.eis"/>
    <bean id="cubaDataSource_MSSQL" class="com.haulmont.cuba.core.sys.CubaDataSourceFactoryBean">
        <property name="storeName" value="MSSQL"/>
    </bean>
    <bean id="entityManagerFactory_MSSQL" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
          lazy-init="false">
        <property name="persistenceXmlLocation" value="file:${cuba.dataDir}/MSSQL-persistence.xml"/>
        <property name="dataSource" ref="cubaDataSource_MSSQL"/>
        <property name="jpaVendorAdapter" ref="jpaVendorAdapter"/>
    </bean>
    <bean id="transactionManager_MSSQL" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory_MSSQL"/>
        <property name="dataSource" ref="cubaDataSource_MSSQL"/>
        <qualifier type="org.springframework.beans.factory.annotation.Qualifier" value="MSSQL"/>
    </bean>

</beans>
